cmasher==1.8.0
datasets==2.18.0
gradio==4.25.0
h5py==3.9.0
huggingface_hub==0.20.3
jieba==0.42.1
matplotlib==3.7.1
nltk==3.8.1
numpy==1.25.2
openai==1.16.2
pandas==2.0.3
Requests==2.31.0
retriv==0.2.3
sacremoses==0.1.1
scikit_learn==1.2.2
scipy==1.13.0
sentence_transformers==2.6.1
sentencepiece==0.1.99
simcse==0.4
spacy==3.7.4
tenacity==8.2.3
tokenizers==0.15.2
torch==2.2.1
tqdm==4.66.2
transformers==4.38.2
wandb==0.16.6
zstandard==0.22.0
